name: Build 
 
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      runs-on:
        required: true
        type: string
env:
  NexusArtifactRepo: https://nexus.lieberlieber.com/repository/lemontree-pipeline-tools
  ModelNameSqLite: ./src/Models/Model.qeax
  
jobs:
  build:
 
    runs-on: ${{ inputs.runs-on }}
    
    steps:
     - name: Checkout Code
       uses: actions/checkout@v4
     
     - name: Setup MSBuild Path
       uses: microsoft/setup-msbuild@v2
       
     - name: Setup NuGet
       uses: nuget/setup-nuget@v2
      
     - name: Restore NuGet Packages
       run: nuget restore src/LemonTree.Pipeline.Tools.sln

     - name: Set version in AssemblyInfo.cs
       id: set-assembly-version
       uses: secondbounce/assemblyinfo-update@v2
       with:
        version: '${{ inputs.version }}'
        directory: '.\src\'
        recursive: true

     - name: Display the version used
       run: echo "${{steps.set-assembly-version.outputs.version}}"
 
     - name: Build Solution
       run: msbuild src/LemonTree.Pipeline.Tools.sln /p:Configuration=Release

     - name: Publish Solution for Windows
       run: dotnet publish -c Release -r win-x86 --self-contained false src/LemonTree.Pipeline.Tools.sln

     - name: Publish ModelCheck for Linux
       run: dotnet publish -c Release -r linux-x64 --self-contained true -p:PublishSingleFile=true -p:PublishTrimmed=false src/LemonTree.Pipeline.Tools.ModelCheck/LemonTree.Pipeline.Tools.ModelCheck.csproj 

     - name: Archive LemonTree.Pipeline.Tools.ModelCheck.Models
       uses: actions/upload-artifact@v4
       with:
            name: LemonTree.Pipeline.Tools.ModelCheck.Models
            path: "src/Models/*.*"
            retention-days: 2

     - name: Archive checks-config.json
       uses: actions/upload-artifact@v4
       with:
            name: checks-config
            path: "src/LemonTree.Pipeline.Tools.ModelCheck/checks-config.json"
            retention-days: 2

     - name: Archive LemonTree.Pipeline.Tools.ModelCheck.Linux
       uses: actions/upload-artifact@v4
       with:
            name: LemonTree.Pipeline.Tools.ModelCheck.Linux
            path: "src/LemonTree.Pipeline.Tools.ModelCheck/bin/Release/net8.0/linux-x64/publish/LemonTree.Pipeline.Tools.ModelCheck"
            retention-days: 2

     - name: Archive LemonTree.Pipeline.Tools.ModelCheck.Windows
       uses: actions/upload-artifact@v4
       with:
            name: LemonTree.Pipeline.Tools.ModelCheck.Windows
            path: "src/LemonTree.Pipeline.Tools.ModelCheck/bin/Release/net8.0/win-x86/publish/LemonTree.Pipeline.Tools.ModelCheck.exe"
            retention-days: 2

     - name: Archive LemonTree.Pipeline.Tools.SetFilterInSessionFile.Windows
       uses: actions/upload-artifact@v4
       with:
            name: LemonTree.Pipeline.Tools.SetFilterInSessionFile.Windows
            path: "src/LemonTree.Pipeline.Tools.SetFilterInSessionFile/bin/Release/net8.0/win-x86/publish/LemonTree.Pipeline.Tools.SetFilterInSessionFile.exe"
            retention-days: 2

     - name: Archive LemonTree.Pipeline.Tools.RemovePrerenderedDiagrams.Windows
       uses: actions/upload-artifact@v4
       with:
            name: LemonTree.Pipeline.Tools.RemovePrerenderedDiagrams.Windows
            path: "src/LemonTree.Pipeline.Tools.RemovePrerenderedDiagrams/bin/Release/net8.0/win-x86/publish/LemonTree.Pipeline.Tools.RemovePrerenderedDiagrams.exe"
            retention-days: 2