name: Push on Release 

on:
    release:
      types: [created]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
    contents: write
    pages: write
    id-token: write
    deployments: write

jobs:
    prepareVersion:
        runs-on: windows-latest
        timeout-minutes: 15
        outputs:
            versionString: ${{ steps.get_version.outputs.version-without-v }}
            fullVersionString: ${{ steps.get_version.outputs.version}}
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                fetch-depth: 0 # Mandatory to use the extract version from tag action
        
            - name: Extract version from tag
              id: get_version
              uses: dhkatz/get-version-action@v3.0.0
                          
    call-build-workflow:
        uses: ./.github/workflows/Build.yml
        needs: prepareVersion
        with:
            version: ${{needs.prepareVersion.outputs.versionString}}
            runs-on: windows-latest
        secrets: inherit

    call-publish-workflow-version:
        needs: [prepareVersion,call-build-workflow]
        uses: ./.github/workflows/publish.yml
        with:
            nexus-path: ${{vars.NEXUSARTIFACTREPO}}/${{needs.prepareVersion.outputs.fullVersionString}}
        secrets: inherit

    call-publish-workflow:
      needs: [prepareVersion,call-build-workflow]
      uses: ./.github/workflows/publish.yml
      with:
          nexus-path: ${{vars.NEXUSARTIFACTREPO}}
          publish-release: true
      secrets: inherit
